@font-face {
  font-family: plain-regular;
  src: url(/Fonts/plain-regular-webfont.woff);
}
@font-face {
  font-family: silkserif-italic;
  src: url(/Fonts/silkserif-regularitalic-webfont.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  color: white;
  font-family: plain-regular;
}
#loader {
  background-color: #0b0b0b;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 20vh 4.5vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: start;
}
.timer {
  padding: 0 5vw;
  display: flex;
  gap: 1vw;
}
.line .timer span {
  font-family: silkserif-italic;
  font-size: 3vw;
}
.line .countdown {
  text-align: right;
  width: 5vw;
}
.line h1 span,
.line h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 7vw;
  line-height: 1;
}
.nowTxt {
  -webkit-text-stroke: 0.1vw white;
  color: white;
  font-weight: 400;
  padding: 0 1.5vw;
  animation: nowTxt 1.5s 2;
  animation-delay: 1.5s;
}

/* Keyframes for blinking + font switch */
@keyframes nowTxt {
  0% {
    font-family: plain-regular;
    -webkit-text-stroke: 0.1vw white;
    color: white;
    opacity: 1;
  }
  49% {
    font-family: plain-regular;
    -webkit-text-stroke: 0.1vw white;
    color: white;
    opacity: 0;
  }
  50% {
    font-family: silkserif-italic;
    -webkit-text-stroke: 0.1vw white;
    color: transparent;
    opacity: 1;
  }
  100% {
    font-family: silkserif-italic;
    -webkit-text-stroke: 0.1vw white;
    color: transparent;
    opacity: 0;
  }
}
.part2{
text-align: left;
position: relative;
margin-top: 8vh;
display: flex;
justify-content: center;
}
.part2 .txt{
    width: 50%;
}
#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}
